body {
    padding: 0;
    margin: 0;
}

#background {
    background-color: #ddd;
}

.nav b {
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: block;
    padding: 0;
    transition: .3s background-color;
}

#exampleModalCenter {
    height: 100%;
    width: 100%;

}

.navbar ul{
    margin-bottom: 0%;
}

html, body, #mapid {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

button.btn.btn-primary {
    Color: black;
    font:smaller;
    background:transparent;
    font-style: initial;
    border-color: black;
    display: block;

}


#about_menu{
    font-size:0.8rem;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  /* background-color: #f1f1f1; */
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete {
    width: 80%;
}

.divSelectSearch, select {
    position: relative;
    width: 80%;
}

.compareSearch {
    align-items: center;
    justify-content: center
}
