body {
    padding: 0;
    margin: 0;
}

#background {
    background-color: #ddd;
}

.nav b {
    text-decoration: none;
    color: black;
    font-size: 26px;
    display: block;
    padding: 0;
    transition: .3s background-color;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: block;
    transition: .3s background-color;
}

.navbar ul{
    margin-bottom: 0%;
}

html, body, #mapid {
    height: 100%;
    width: 100%;
}


.hidden {
    display: none;
}